# List

In [29]:
# 16. From below list replace 4 with 44
my_list = [1, 2, 3, 4, 5]
my_list[3]= 44
print(my_list)

[1, 2, 3, 44, 5]

In [2]:
# 17. In below list add(insert) 200 at index 3
my_list = [1, 2, 3, 4, 5]
my_list.insert(3,200)

In [3]:
print(my_list)

[1, 2, 3, 200, 4, 5]

In [4]:
# 18. In below list add new number 66
my_list = [1, 2, 3, 4, 5]
my_list.append(66)

In [5]:
print(my_list)

[1, 2, 3, 4, 5, 66]

In [12]:
# 19 In below list insert new numbers 66,87,99
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 66)  
my_list.insert(4, 87) 
my_list.insert(5, 99)

In [13]:
print(my_list)

[1, 2, 66, 3, 87, 99, 4, 5]

In [14]:
# 20. from below list remove number 3
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)

In [15]:
print(my_list)

[1, 2, 4, 5]

In [30]:
# 21. From below list print count of "cherry"
my_list = [1, 2.5, "cherry", 3, "banana", 4.0, "cherry"]
my_list.count("cherry")

2

In [32]:
# 22. From below list print index of "banana"
my_list = [1, 2.5, "apple", 3, "banana", 4.0, "cherry"]
my_list.index("banana")

4

In [38]:
# 23. From below list remove last item
my_list = ["Pune","Delhi","Mumbai","Indore","Jaipur","Dehradun"]
my_list[:-1]

['Pune', 'Delhi', 'Mumbai', 'Indore', 'Jaipur']

In [40]:
#24. Sort the below list in Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort()

In [41]:
print(my_list)

['Apple', 'Banana', 'Cherry', 'Grapes', 'Mango']

In [42]:
# 25. Sort below list in reverse Alphabetical order
my_list = ["Grapes","Apple","Cherry","Mango","Banana"]
my_list.sort(reverse=True)

In [43]:
print(my_list)

['Mango', 'Grapes', 'Cherry', 'Banana', 'Apple']